*{
   padding: auto;
   margin: auto; 
}
.cabecera {
    margin: 20px;
    padding: 10px;
    
}
.img-baner{
    height: 50%;
    width: 50%;
    
}
.img-perfil{
    margin-top: 10px;
    height: 50%;
    width: 50%;
}
.mydescipcion{
    text-align: center;
    color: darkblue;
    text-decoration: underline;
}
.exp-laboral{
    text-shadow: 2px 2px rgb(133, 28, 28);
    font-size: 30px;
}
.cursos{
    font-size: 25px;
}